.futuros-lancamentos {
    padding-top: 65px;
    overflow: hidden;
}

.futuros-lancamentos h2 {
    font-family: 'Elaris';
    font-size: 65px;
    line-height: 65px;
    font-weight: normal;
    font-style: normal;
    color: #3f7977;
    margin: 0;
}
.futuros-lancamentos h2+p {
    font-family: 'Elaris';
    font-size: 35px;
    line-height: 35px;
    font-weight: normal;
    font-style: normal;
    color: #3f484b;
    margin: 0;
}

.futuros-lancamentos h2+p span {
    font-size: 40px;
    line-height: 40px;
}

.futuros-lancamentos .line {
    height: 2px;
    background-color: #3f7977;
    width: 40%;
    margin: 10px auto 40px;
    display: block;
}

.futuros-lancamentos .txt-1,
.futuros-lancamentos .txt-2,
.futuros-lancamentos .txt-3,
.futuros-lancamentos a {
    font-family: 'Lato';
}
.futuros-lancamentos .txt-1 {
    font-weight: normal;
    font-style: normal;
    color: #3f484b;
    font-size: 15px;
    line-height: 20px;
}
.futuros-lancamentos .txt-2 {
    font-weight: 900;
    font-style: normal;
    color: #3f7977;
    font-size: 16px;
    line-height: 21px;
}
.futuros-lancamentos .txt-3,
.futuros-lancamentos a {
    font-weight: bold;
    font-style: normal;
}
.futuros-lancamentos .txt-3 {
    color: #3f484b;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    margin-top: 15px;
}
.futuros-lancamentos a {
    color: #fff;
    background-color: #3f7977;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    padding: 8px 50px;
    margin: 25px auto 0;
    display: table;
}
.futuros-lancamentos a:hover {
    text-decoration: none;
    background-color: #366866;
}
/* Extra Small */

@media(max-width:767px) {
    .futuros-lancamentos {
        padding-top: 25px;
    }
    .futuros-lancamentos h2 {
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 10px;
    }

    .futuros-lancamentos h2+p {
        font-size: 20px;
        line-height: 25px;
    }

    .futuros-lancamentos h2+p span {
        font-size: 27px;
        line-height: 30px;
    }
}


/* Small */

@media(min-width:768px) and (max-width:991px) {}


/* Medium */

@media(min-width:992px) and (max-width:1199px) {}


/* Large */

@media(min-width:1200px) {}