.home {
    background: #01131d;
}

.home .carousel {
    position: relative;
    display: table;
    margin: 0 auto;
}

.whats {
    position: fixed;
    top: 50%;
    right: 1%;
    z-index: 200;
}

/* Extra Small */

@media(max-width:767px) {}


/* Small */

@media(min-width:768px) and (max-width:991px) {}


/* Medium */

@media(min-width:992px) and (max-width:1199px) {}


/* Large */

@media(min-width:1200px) {}