.navbar-default {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0px;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    top: -1px;
    z-index: 210;
    min-height: auto;
}

.navbarBG {
    background: rgba(10, 25, 29, 0.9);
}

.navbar-default .navbar-nav>li>a {
    font-family: 'Lato';
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    color: #fff;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #3f7977;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    z-index: 400;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #3f7977;
}

.navbar-toggle {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}


/* Extra Small */

@media(max-width:767px) {
    .navbar-default {
        top: 10px;
    }

    .navbar-nav {
        float: left;
        margin: 0;
        width: 100%;
    }

    .nav>li {
        display: block;
        float: left;
        width: 100%;
    }

    .navbar-collapse {
        padding-left: 0px !important;
        padding-right: 0px !important;
        border-top: 0px solid transparent;
        box-shadow: none;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: transparent;
        background: rgba(0, 0, 0, 0.8);
        margin-top: -45px;
        width: 100%;
        position: absolute;
        z-index: 300;
        padding-top: 9px;
    }

    .navbarBG {
        background: transparent;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 13px 10px;
    }
    .navbar-default .navbar-nav>li> a::after {
        display: none;
    }

    .navbar-default .navbar-nav>li>a:hover::before {
        display: none;
    }
}


/* Small */

@media(min-width:768px) and (max-width:991px) {}


/* Medium */

@media(min-width:992px) and (max-width:1199px) {}


/* Large */

@media(min-width:1200px) {}